@charset "UTF-8";

/*body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: radial-gradient(circle, black 20%, #7B16A4 100%);
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	max-width: 1000px;
	background: white;
	border-radius: 8px;
	min-height: 100vh;
}

.sectionLogin {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	text-align: center;
	background: radial-gradient(circle, rgba(241, 229, 190, 1) 0%,
		rgba(255, 165, 0, 1) 70%);
}

.footerLogin {
    background: linear-gradient(to bottom, #E2E6EA, #343A40);
    padding: 10px;
    display: flex;
    align-items: center; 
    font-family: 'Patrick Hand', cursive;
}

.contactos {
    display: flex;
    flex-direction: column;
}

#conttit{
	margin-left:70px;
}

.contacto-item {
    display: flex;
    align-items: center; 
    margin-bottom: 5px; 
    margin-left:30px;
}

.icono {
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
}

.linea {
	border-bottom: 2px solid black;
	width: 100%;
}

.imgLogo {
	width: 450px;
}

.flechaAzul {
	width: 92px;
	position: absolute;
	top: 30px;
	left: 50px;
	transform: scaleX(-1);
	cursor: pointer;
}

label {
    display: block; 
    padding-right: 120px;
    transition: color 0.3s ease;
    font-family: 'Patrick Hand', cursive;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s ease;
    width: 100%; 
}

input:focus {
    border-color: #7B16A4; 
}

.boton-ingresar {
    background-color: #7B16A4; 
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Patrick Hand', cursive;
}

.boton-ingresar:hover {
    background-color: #9B3AC5;
}

.tituloLogin h2 {
    transition: color 0.3s ease;
    font-family: 'Patrick Hand', cursive;
}*/

