<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Acceso al sistema</title>
<link rel="stylesheet" href="/styles.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
<main class="registro-main">
			<section class="sectionLogin">
			<div class="registro-container">
			<div class="tituloLogin">
				<img class="logo-registro" src="/img/VeterinariaGoofyLogo.png" />
			</div>
					<h3>Registrar usuario</h3>
					<form method="post" action="/login">	
						<div class="form-group">
							<label for="InputEmail" class="form-label">Correo</label> <input
								type="email" required class="form-control"
								id="InputEmail" name="correo" placeholder="Ingrese correo">
						</div>
						<div class="form-group">
							<label for="InputPass" class="form-label">Contraseña</label> <input
								type="password" required class="form-control"
								id="InputPass" name="contraseña" placeholder="Ingrese contraseña">
						</div>
						<button type="submit" class="btn btn-submit">Ingresar</button>
					</form>
					<div th:class="${cssmensaje}" role="alert" th:text="${mensaje}"></div>
					<p>Para registrar su cuenta, pulse <a href="/RegistrarUsuario">aquí</a>
				</div>
			</section>
			</main>
	<script>
		document.getElementById('boton-cerrar').addEventListener('click',
				function() {
					localStorage.removeItem("usuarioLogin");
					window.location.href = "/AccesoSistema"; 
				});
	</script>
</body>
</html>
