<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Acceso al sistema</title>
<link rel="stylesheet" href="/estilosLogin.css">
<link
	href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"
	rel="stylesheet">
</head>
<body>
	<div class="content">
		<section class="sectionLogin">
			<div class="tituloLogin">
				<img class="imgLogo" src="/img/VeterinariaGoofyLogo.png" />
				<h2>Iniciar sesión</h2>
			</div>
			<br>
			<div>
				<form method="post" action="/login">
					<div>
						<label>Correo:</label> <input type="email" name="correo" required>
					</div>
					<div>
						<label>Contraseña:</label> <input type="password"
							name="contraseña" required>
					</div>
					<div>
						<button class="boton-ingresar" type="submit">Ingresar</button>
						<p>Para registrar su cuenta, pulse <a href="/RegistrarUsuario">aquí</a>
					</div>
				</form>
			</div>
		</section>
		<div class="linea"></div>
		<footer class="footerLogin">
			<div class="contactos">
				<h3 id="conttit">Contacto</h3>
				<div class="contacto-item">
					<img class="icono" src="img/telefono.png" alt="Teléfono" />
					<p>Numero Telefono:</p>
				</div>
				<div class="contacto-item">
					<img class="icono" src="img/correo.png" alt="Correo Electrónico" />
					<p>Correo Electronico:</p>
				</div>
			</div>
		</footer>
	</div>
	<script>
		document.getElementById('boton-cerrar').addEventListener('click',
				function() {
					localStorage.removeItem("usuarioLogin");
					window.location.href = "/AccesoSistema"; 
				});
	</script>
</body>
</html>