<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Agendar Cita</title>
<link rel="stylesheet" href="/styles.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
	<nav th:replace="~{Citas.html :: nav}"></nav>
	<div class="contenido">
		<main class="registro-main">
			<section class="sectionLogin">
				<div class="registro-container">
					<h3>Agendar cita</h3>
					<form method="post" th:object="${veterinario}">
						<div class="form-group">
							<label for="Mascota" class="form-label">Mascota</label> <select
								th:field="*{id_mascota}" class="form-control">
								<option value="" selected>Seleccione...</option>
								<option th:each="m : ${mascotas}" th:value="${m.id}"
									th:text="${m.Nombre}"></option>
							</select>
						</div>
						<div class="form-group">
							<label for="InputFchAtencion" class="form-label">Veterinario</label>
							<select th:field="*{id_veterinario}" class="form-control">
								<option th:each="vet : ${lstVeterinarios}"
									th:value="${vet.id_veterinario}" th:text="${vet.Nombre}">Seleccione...</option>
							</select>
						</div>
						<div class="form-group">
							<label for="InputFchAtencion" class="form-label">Fecha de
								atención</label> <input type="date" class="form-control"
								id="InputFchAtencion" name="fechaAtencion">
						</div>
						<div class="form-group">
							<label for="InputHoraAtencion" class="form-label">Hora de
								atención</label> <input type="time" class="form-control"
								id="InputHoraAtencion" name="horaAtencion">
						</div>
						<button type="submit" class="btn btn-submit">Agendar cita</button>
					</form>

				</div>
			</section>
		</main>
	</div>
	<script>
		const usuarioLogueado = JSON
				.parse(localStorage.getItem("usuarioLogin"));
		if (!usuarioLogueado) {
			document.getElementById('usuarioLogin').innerText = 'Iniciar Sesión';
		}
	</script>
</body>
</html>