<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Citas</title>
<link rel="stylesheet" href="/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
	<nav th:fragment="sidebar" class="sidebar">
		<ul>
		<img src="/img/ManchaDorada.png" class="mancha" />
			<li><a href="/Nosotros" class="logo"> <img src="/img/VeterinariaGoofyLogo.png"></a></li>
			<li><a href="/Perfil" class="textSesion"> <i class="fas fa-user"></i> <span>Perfil</span></a></li>
			<li><a href="/AgendarCita" class="textSesion"> <i class="fas fa-paste"></i> <span>Agendar Cita</span></a></li>
			<li><a href="/Citas" class="textSesion"> <i class="fas fa-heart"></i> <span>Citas</span></a></li>
			<li><a href="/InfoMedicos" class="textSesion"> <i class="fas fa-stethoscope"></i> <span>Veterinarios</span></a></li>
			<li><a href="/MascotaRegistro" class="textSesion"> <i class="fas fa-paw"></i> <span>Registrar Mascota</span></a></li>
			<li><a href="#" class="imgLogoPer"> 
				<img class="imgLogoPer" src="/img/PerfilLogo.png" />
			</a></li>
			<li><a href="/AccesoSistema" class="textSesion logout"> <i class="fas fa-sign-out-alt"></i> <span>Log Out</span></a></li>
		</ul>
	</nav>
	<div class="contenido">
		<main>
			<section class="sectionCitas">
			<div class="table-container">
				<h3 class="main-title">Listado de Citas</h3>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Fecha</th>
							<th>Mascota</th>
							<th>Veterinario</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cit : ${lstCitas}">
							<td th:text="${cit.id_ficha}"></td>
							<td th:text="${cit.fech_cita}"></td>
							<td th:text="${cit.objMascota.Nombre}"></td>
							<td th:text="${cit.objVet.Apellido}"></td>
						</tr>
					</tbody>
				</table>
				</div>
			</section>
		</main>
	</div>
</body>
</html>
