<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Perfil</title>
</head>
<body>
<script th:inline="javascript">
        const usuarioLogueado = /*[[${usuarioLogueado}]]*/ {};
        console.log('Usuario:', usuarioLogueado);
        localStorage.setItem("formSubmitted",'false');
        localStorage.setItem("usuarioLogueado", JSON.stringify(usuarioLogueado));
    </script>

  <h2>Bienvenido, <span th:text="${usuarioLogueado.nombre}">Nombre del Dueño</span></h2>
  

  <h2>Bienvenido, <span th:text="${usuarioLogueado}">Nombre del Dueño</span></h2>
<a href="/index.html">Volver</a>
 
   


</body>
</html>