<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registrar Usuario</title>
<link rel="stylesheet" href="/estilosRegistro.css">
<link
	href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"
	rel="stylesheet">
</head>
<body>
	<a href="javascript:history.back();"> <img class="flechaAzul"
		src="img/flechaAzul.png" /></a>
	<div class="content">
		<section class="sectionLogin">
			<div class="tituloLogin">
				<img class="imgLogo" src="/img/VeterinariaGoofyLogo.png" />
				<h2>Registrar usuario</h2>
			</div>
			<br>
			<div>
				<form method="post" action="/registrar" th:object="${duenio}"
					class="registro-form">
					<div class="column">
						<div>
							<label for="InputDni">DNI</label> <input th:field="*{dni}"
								type="text" id="InputDni" name="dni" placeholder="Ingrese DNI"
								required>
						</div>
						<div>
							<label for="InputGenero">Género</label> <input
								th:field="*{genero}" type="text" id="InputGenero" name="genero"
								placeholder="Ingrese género" required>
						</div>
						<div>
							<label for="InputNombre">Nombre</label> <input
								th:field="*{nombre}" type="text" id="InputNombre" name="nombre"
								placeholder="Ingrese nombre" required>
						</div>
						<div>
							<label for="InputApellido">Apellido</label> <input
								th:field="*{apellido}" type="text" id="InputApellido"
								name="apellido" placeholder="Ingrese apellido" required>
						</div>
					</div>
					<div class="column">
						<div>
							<label for="InputTlf">Teléfono</label> <input
								th:field="*{telefono}" type="tel" id="InputTlf" name="telefono"
								placeholder="Ingrese teléfono" required>
						</div>
						<div>
							<label for="InputEmail">Correo</label> <input
								th:field="*{correo}" type="email" id="InputEmail" name="correo"
								placeholder="Ingrese correo" required>
						</div>
						<div>
							<label for="InputPass">Contraseña</label> <input
								th:field="*{contraseña}" type="password" id="InputPass"
								name="contrasena" placeholder="Ingrese contraseña" required>
						</div>
						<button type="submit" class="boton-ingresar">Registrar</button>
					</div>
				</form>
				<div th:class="${cssmensaje}" role="alert" th:text="${mensaje}"></div>
			</div>
		</section>
		<div class="linea"></div>
		<footer class="footerLogin">
			<div class="contactos">
				<h3 id="conttit">Contacto</h3>
				<div class="contacto-item">
					<img class="icono" src="img/telefono.png" alt="Teléfono" />
					<p>Numero Telefono:</p>
				</div>
				<div class="contacto-item">
					<img class="icono" src="img/correo.png" alt="Correo Electrónico" />
					<p>Correo Electronico:</p>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
